In [4]:
import pandas as pd
from pandas_datareader import data
from datetime import date
import warnings
warnings.filterwarnings("ignore")

user_number = int(input("How many stocks: "))

stocks = []

for i in range(0, user_number):
    stocks.append(input('Enter the stocks: '))

print("Enter the benchmark: ")
stocks.append(input('benchmark: '))

print("Enter the Risk Free Rate: ")
rf=(input('Risk Free Rate: '))

print("Enter intended start date details: ")
startdate = (input('startdate (YYYY-MM-DD): '))

print("Enter intended enddate details: ")
enddate = (input('enddate (YYYY-MM-DD): '))

df = data.DataReader(stocks, 
                start=startdate, 
                end=enddate, 
                data_source='yahoo')
df_close=df['Adj Close']
df_close=df_close.pct_change()
df_close['Rf']=rf
df_close

How many stocks: 2
Enter the stocks: AMZN
Enter the stocks: AAPL
Enter the benchmark:
benchmark: ^GSPC
Enter the Risk Free Rate:
Risk Free Rate: .05
Enter intended start date details:
startdate (YYYY-MM-DD): 2019-12-01
Enter intended enddate details:
enddate (YYYY-MM-DD): 2019-12-05

Symbols         AMZN      AAPL     ^GSPC   Rf
Date
2019-12-02       NaN       NaN       NaN  .05
2019-12-03 -0.006533 -0.017830 -0.006638  .05
2019-12-04 -0.005237  0.008826  0.006324  .05
2019-12-05 -0.011478  0.014671  0.001500  .05